{{ define "main" }}
<div class="c0re__view" id="about">
  <div class="c0re__content grid-noGutter">
    
          <div id="active-content" class="c0re__inner-content col-12">
            <div class="c0re__inner grid-center-middle-noGutter">
                <div class="col-12">
                  
                  <section id="overview" class="section">
                    <div id="avatar-cycle"><img src="{{ .Site.BaseURL }}assets/img/svg/avatar-cycle.svg"></div>
                    <div id="overview-container">
                      <div class="grid-center">
                        <div class="col-12">
                          <div class="leader">                            
                            <span class="name">They Call Me 'E'</span>
                          </div>
                          <p>Life is in a constant state of creation and so am I. My name is Elijah Shepard but my friends call me 'E'. I am a living machine and restless creative, passionate about design, music, film, and digital media. Since art and inspiration is not constrained by a single medium, neither am I. I work and play as a freelance <strong>Film Composer</strong>, <strong>Sound Designer</strong>, <strong>UX Architect</strong>, <strong>Designer</strong>, and <strong>Front-End Developer</strong>.</p>
                          <p>In short, I like coming up with ideas and am terminally curious. As a result, I have been blessed with a diverse and prolific professional journey. It has been an interesting ride, to be sure, having been a part of over 300 projects. The "Black Hole" section is where you'll find <em>some</em> of these credits featured.</p>
                        </div>
                        
                      </div>
                    </div>
                    <div id="brand-experience" class="grid-center">
                        <div class="col-12">
                          <h3>Brands/Clients I've Worked With</h3>
                          <div class="logos grid-4_xs-2-sm-2_md-2-equalHeight">
                            <div class="client-logo col"><div class="logo-wrap logos_1"></div></div>
                            <div class="client-logo col"><div class="logo-wrap logos_2"></div></div>
                            <div class="client-logo col"><div class="logo-wrap logos_3"></div></div>
                            <div class="client-logo col"><div class="logo-wrap logos_4"></div></div>                            
                          </div>
                        </div>
                        <div class="additional col-12"><span>...267 clients and counting</span></div>
                      </div>
                    
                  </section>
                  <section id="deep-dive" class="section">
                    <div class="grid-center">
                      <div id="legacy" class="col-12">
                      <h3>Where You Know Me From</h3>
                        
                        <div class="legacy">
                          <span class="theName">TUNNEL</span><span class="theRange">2019 - PRESENT</span>
                          <p>You may know me from seeing me at the Walt Disney lot in Burbank or countless Zoom meetings. During my time at Tunnel, I have done extensive design, prototyping and front-end development, in my role as Creative Director and as a Product Owner before that. I helped conceptualize, architect, design, and build a title management application which automates the creation of Disney's Digital Cinema Packages. As part of this effort, I assisted the localization of several titles, including Dumbo, Avengers Endgame, Aladdin, Toy Story 4, Lion King, and Onward. I also was part of the team that created scheduling software which Disney uses to allocate resources, stages, equipment, and QC efforts.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">ECCENTRIC PIXEL</span><span class="theRange">2011 - PRESENT</span>
                          <p>Eccentric Pixel is a digital agency I created after I left 2Advanced. I execute all my design and development work under its umbrella.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">2ADVANCED STUDIOS</span><span class="theRange">2002 - 2011</span>
                          <p>2Advanced was a trend-setting digital agency, known for its progressive design style and motion graphics. As the second employee and then an executive member of the team in my role as the Director of Business Development, I am proud of the legacy I helped create during my time at 2Advanced, considering how highly regarded and prolific the company became. During this time, there is a good chance you saw me at your office or an airport, since I traveled extensively pitching creative or fostering/sustaining client relationships. I wore a lot of hats here and was creatively involved in most projects. If you used the Internet during this time period, there is a good chance you went to one of the sites we produced.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">LIVING MACHINE</span><span class="theRange">2002 - PRESENT</span>
                          <p>I release music under the artist name of "Living Machine". However, this name is now trademarked. So I am shifting to releasing everything under a new name.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">AUDIO CATHARSIS</span><span class="theRange">1999 - PRESENT</span>
                          <p>I have been using this brand name for a while now,. It serves as my music production company and record company name. Some will also recognize this name as my music producer/remixer profile name. All of my artist and production music is organized and browsable as a music library over at http://audiocatharsis.com. The "Ear Worms" section of this site only showcases some of my material. Since I have been writing music since 1990 and am prolific, there is hours of music waiting for you there. Get to it!!!</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">DIGIDOC</span><span class="theRange">2001</span>
                          <p>For a short while, I managed sales staff and assisted in the production of retail/wholesale CD/DVD products and printed goods.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">DITECH, GMAC, AHL, MORTGAGE PARTNERS, FIRST PLUS DIRECT, SUPERIOR BANK</span><span class="theRange">1997 - 2001</span>
                          <p>During this time period, I worked for the various Brokers and Banks listed above. I acquired my Real Estate License which enabled me
                            to sell real estate, though for this duration I worked solely as a Loan Officer. I did this for 5 years, from the days of the 'please lend me more than my home is worth' craze in the late nineties to the 'oops' portion of the new millennium. Basically, I played a part in the subprime mortgage crisis of 2007.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">CATHARSIST</span><span class="theRange">1997 - 2000</span>
                          <p>For a couple years, I released music under the artist name of "Catharsist". You might remember me from MySpace and Mp3.Com and other sites like that from back in the day. My main release under this name was "Echoes of Repression". It got some radio play and regular rotation at some goth clubs but not much else happen with it. As an anecdote, the one "real" gig I ever did was up in LA at "The Garage" and played music from this time period. If anyone has a video of this performance, email me.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">SIGNAGE SOLUTIONS</span><span class="theRange">1996 - 1997</span>
                          <p>I worked for a commercial sign company when I was younger. During this period, I dominated neon, plexiglass, paint, vinyl, metal, wood, and all sorts of machinery used to build things like pylons, monuments, channel letters, and so on. I was the main buyer for the company and drove all over Southern California getting supplies or installing signs when I wasn't in the shop. So maybe you saw me at a Starbucks or Jamba Juice installing some signage. You never know...</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">THE AARDVARK (Shepard Graphics)</span><span class="theRange">1994 - 1997</span>
                          <p>I started out in the early 90s working with my Father doing large-scale murals, set backdrops, restaurant graphics, and all sorts of things. I carried on doing this after my father was hired on at Disney, adding my own clients and continuing to work with some of his until 1998 when it was clear the days of hand-painted things and vinyl were over and it was time to start focusing on digital.</p>
                        </div>
                        <div class="legacy">
                          <span class="theName">JACK ROSE AGENCY</span><span class="theRange">1989 - 1993</span>
                          <p>Well, yes. There is also a good chance you saw me on Television. I was a principal actor in several commercials when I was just a tadpole in a Hollywood pond. The agency I was siged with was Jack Rose Agency. I was also on the big screen in a film called "Shimmer" and an episode of "The New Lassie". As an anecdote, I was also cast as the lead in a Disney series called "My Brother The Car Thief"; however this show never got off the ground after we shot the pilot episode.</p>
                        </div>
                        
                      </div>
                      
                    </div>
                  </section>
                  <section id="get-in-touch" class="section">
                    <div class="grid-center">
                      <div class="recap col-12">
                        <p><span>I am open to collaborative experiences</span> and always looking for new things to invest my creative energies in. Hit me up and let's do something together!</p>
                        <p class="contactInfo">949-300-9431 <em>&mdash;</em> <a href="mailto:elijah@restlesscreative.com">elijah@restlesscreative.com</a></p>
                        
                        {{ if .Site.Params.social_list.enable }}
                          <ul class="social-links">
                            {{ range .Site.Params.social }}
                              <li><a href="{{ .link }}" class="icon alt {{ .icon }}"><span class="label">{{ .title }}</span></a></li>
                            {{ end }}
                          </ul>
                        {{ end }}
                        
                      </div>
                    </div>
                  </section>
                                    
                </div>
            </div>
          </div>          
      <div class="gradient-base"></div>
  </div>
</div>
{{ end }}
