/*************** H E A D E R ****************/

.c0re__header {
  //position:absolute;
  width:100%;
  height:0px;
  display:table-row;  
  top:0;
  left:0;
  bottom:0;  
  background: none;
}
.portrait .c0re__header {
  //position:absolute;
  width:100%;
  height:0px;
  display:table-row;  
  top:0;
  left:0;
  bottom:auto;
  background:none;
}


/*#menuIcon {
  display:block;
}
#closeMenu {
  display:none;
}
*/


// let's hide scrollbars when nav is open
body.menuOpen #c0re__interface {
  position:fixed; 
  //@include calc(width, '100% - 16px'); // offset for scrollbar
  
  .brand-logo .positive {
	display:block;
  }
  .brand-logo .negative {
	display:none;
  }

}


#navigation {
  width:100%;
  max-width: none;
  padding:0 5vw;
  margin:0 auto;
  position: fixed;
  z-index:500;
  bottom:0;
  top:auto;
  left:0;
  right:0;
  background: $offBlack;
  
  &.scrolled, &.loginNav {
	background:$white;
	
	.brand-logo .positive {
	  display:block;
	}
	.brand-logo .negative {
	  display:none;
	}
	
	#menu-icon span {
	  background: $c3;
	}
	
	#tertiery-nav {
	  a {
		color: $titles;
	  }
	}
	
  }
  
  .brand-logo img {
    max-height: $navbar-height;
  }
  
  @media #{$medium-and-down} {
	//background:$black;
  }
  @media (max-width: $small-screen) {
    padding:0 1vw;
  }
}


#mobile-logo {
  display:none;
  
  #root {  
    path {
      fill:$white;
    }
  }
  
  @media (max-width:$small-screen) {
    display:block;
    margin:10px auto;
    max-width:30px;
  }
  
}


#main-nav {
  padding:0px;
  position:relative;
  top:0px;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  
  #logo {
    max-width:200px;
    margin-top:18px;
    
    .cls-1 {
      fill: #7ed4d4;
    }
    
    @media (max-width: $small-screen) {
      margin-top:27px;
      display:none;
    }
  }
  

    
  
  .menu-item, .nav-link {
      width:auto;
      text-align:center;
      display:inline-block;
      float:none;
      width:19.333%;
      height:70px;
      margin:-1px;
      padding:1px;
      position:relative;
      line-height:70px;
      vertical-align:middle;
      
      a {
        text-transform:uppercase;
        font-weight:700;
        @include font-size(15px);
        letter-spacing:0;
        font-family:$c0re__font-medium;
        color:$nav;
        line-height:70px;
        margin:0;
        padding:0 !important;
        letter-spacing:letterspacing-to-ems(140);
        width:100%;
        height:70px;        
        vertical-align:middle;
        cursor:pointer;
        position:relative;
        
        .destination {
          color:$nav;
          display:inline-block;
          width:100%;
        }
        
        .supplemental {
          color:$heading;
          visibility:hidden;
          @include font-size(12px);
          display:inline-block;
          width:100%;
          position:absolute;
          letter-spacing:letterspacing-to-ems(200);
          left:0;
        }
        
        &.active{
          font-weight:600;
          color:$white;
          
          span {
            visibility:visible;
          }
          
        }
        
        &:hover {
          font-weight:600;
          color:$white;
          //@include transform(scale(1.2));
          //@include transition(scale 0.2s ease);
          
        }
        
        @media (max-width: $small-screen) {
          @include font-size(10px);
        }
        @media (max-width: $x-small-screen) {          
          letter-spacing:letterspacing-to-ems(100);
        }
        @media (max-width: 340px) {          
          @include font-size(9px);
        }
      }
  }
  
  
  
  
  
  
  .current-menu-item {
    a {
      
    }
  }
  
  .auxiliary {
    clear:none;
    display: inline-block;
    border: none;
    padding:5px;
    float:right;
    
    a {
      padding:5px 0;
      color:rgba($white, .30);
      
      &:hover {
      background:none !important;
      }
    }
    i {
      height:30px;
      color:$secondary-color;
    }
  }
  
  li[data-type="chat"] {
	  clear:both;
	  margin-right:100px;
	  
	  @media (max-width: 1200px) {
		margin-right: 50px !important;
	  }
  }
}





nav {
  &.nav-extended {
    height: auto;

    .nav-wrapper {
      min-height: $navbar-height-mobile;
      height: auto;
    }

    .nav-content {
      position: relative;
      line-height: normal;
    }
  }

  color: $navbar-font-color;
  @extend .z-depth-1;
  background-color: transparent;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-line-height-mobile;
  box-shadow: none;

  a { color: $navbar-font-color; }

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: block;
    font-size: 24px;
    height: $navbar-height-mobile;
    line-height: $navbar-line-height-mobile;
  }

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  @media #{$large-and-up} {
    a.button-collapse { display: none; }
  }
  
  @media #{$medium-and-down} {
	height:$navbar-height-mobile;
  }


  // Collapse button
  .button-collapse {
    float: left;
    position: fixed;
    z-index: 99;
    height: $navbar-height-mobile;
    margin: 18px;
    right:1em;

    i {
      height: $navbar-height-mobile;
      line-height: $navbar-line-height-mobile;
    }
  }


  // Logo
  .brand-logo {
    position: fixed;
    color: $navbar-font-color;
    display: inline-block;
    font-size: $navbar-brand-font-size;
    padding: 0;
    white-space: nowrap;
    top:0.875em;
    left:0.5rem;
    width:160px;
    z-index:5001;
    visibility:hidden;  // animated in app.js
    
    &.vert {
      left: -60px;
      top:105px !important;
      @include transform(rotate(-90deg));
    }
    &.center {
      left: 50%;
      @include transform(none);
    }
    
    svg {
      width:100%; // fix for using svg
    }

    @media #{$medium-and-down} {      
      //display:none;
      
      &.vert {
        //top:35px;
        left:35px;
        width:30vw;
        max-width:200px;
        @include transform(rotate(0deg));
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    i,
    [class^="mdi-"], [class*="mdi-"],
    i.material-icons {
      float: left;
      margin-right: 15px;
    }
  }


  // Title
  .nav-title {
    display: inline-block;
    font-size: 32px;
    padding: 28px 0;
  }


  // Navbar Links
  ul {
    margin: 0;

    li {
     // transition: background-color .3s;
      float: right;
	  display:block;
	  clear:both;
      padding: 0;
	  

      &.active {
        //background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
      font-size: $navbar-font-size;
      color: $navbar-font-color;
      display: block;
      padding: 0 0 0 15px;
      cursor: pointer;
	  font-family: $c0re__font-medium;

      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;

        & > .material-icons {
          height: inherit;
          line-height: inherit;
        }
      }

      &:hover {
        background-color: transparent;
      }
    }

    &.left {
      float: left;
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }

  .input-field {
    margin: 0;
    height: 100%;

    input {
      height: 100%;
      font-size: 1.2rem;
      border: none;
      padding-left: 2rem;

      &:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border: none;
        box-shadow: none;
      }
    }

    label {
      top: 0;
      left: 0;

      i {
        color: rgba(255,255,255,.7);
        transition: color .3s;
      }
      &.active i { color: $navbar-font-color; }
    }
  }
}

// Fixed Navbar
.navbar-fixed {
  position: relative;
  height: $navbar-height-mobile;
  z-index: 997;

  nav {
    position: fixed;
  }
}
@media #{$medium-and-up} {
  nav.nav-extended .nav-wrapper {
    min-height: $navbar-height;
  }
  //nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  nav {
    height: auto;
    line-height: $navbar-line-height;
  }
  nav a.button-collapse, nav a.button-collapse i {
	height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;
  }
  .navbar-fixed {
    height: $navbar-height;
  }
}



.hideLogo {
  @include opacity(0);
  //visibility:hidden;
  @include transform(scale(0));
}

#menu-access {
  position:fixed;
  top:35px;
  right:35px;
  width:30px;
  height:30px;
  overflow:hidden;
  z-index:5001;
  
  @media (max-width: $small-screen) {
    top:15px;
    right:15px;    
  }
}

#menu-icon {
  width:30px;
  height:30px;
  margin: 0;
  z-index:5001;
  position:relative;
  
  .a, .b, .c {
    visibility:hidden;
  }
  
  i {
	height: auto;
	@include center(false, true);
	right:0em;
	color:$white;
	z-index:5001;
	font-size:2.5em;
		
  }

  .icon {
	
    width: 30px;
    height: 30px;
    position: relative;
    
    //margin: $navbar-height/2 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
	
  }
  
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $dark-1;
    //border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  span:nth-child(1) {
	top: 0px;
  }
  
  span:nth-child(2) {
	top: 8px;
  }
  
  span:nth-child(3) {
	top: 16px;
  left:15px;
  }
  
  &.open span:nth-child(1) {
	top: 12px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	color:$primary-color;
  }
  
  &.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
  }
  
  &.open span:nth-child(3) {
	top: 12px;
  left:0;
  width:100% !important;
  
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	color:$primary-color;
  }
  
  @media #{$medium-and-down} {
	//padding:0 10px;
	height:$navbar-height-mobile;
	margin:0 auto;
	display:block;
  }
  
  &:hover {
    color:$primary-color;
    span {
      background:$primary-color;
    }
  }
}

.menuOpen #menu-icon span {
  //background:$light-2;
}


#overlay-nav {
  background: $white;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  width:100%;
  width:100vw;
  height:100%;
  height:100vh;
  min-height:100%;
  z-index:5000;
  
  
  .navigation-menu {
	@include center(true, true);
	width:80%;
  }
  
  .nav-link, .menu-item {
    width:auto;
    text-align:center;
    float:none;
    clear:both;
    border-bottom:1px solid rgba(#333, 0.2);
    
    a, span {
      padding:15px 0;
      line-height:6vh;
      display:block;
      //text-transform:uppercase;
      font-weight:900;
      letter-spacing: letterspacing-to-ems(75);
      //@include font-size(18px);
      font-size:32px;
      font-size:4vw;
      text-transform:uppercase;
      color: $nav;
      text-align:center;
      font-family: $c0re__font-black;
      margin:0 auto;
      @include transition(all 0.4s);
      
      &:hover {		
        color: $nav-hover;
        background:#f5f5f5;
        @include transition(all 0.4s);
      }
      
      &.active {		
        color: $nav-active;
        background:#f5f5f5;
        @include transition(all 0.4s);
      }
      
      
    }
    .leader {
      
    }
    
    &:last-child {
      border-bottom:none;
    }
    
    &.active, &.current-menu-item {		
      a {	color: $c0re__links; }
    }
    
  }
  
  
}






.mobile-footer-nav {
  width:100%;
  padding:1em;
  margin:0 auto;
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  text-align:center;
  
  a {
	color:rgba($black, 0.5);
	text-transform:uppercase;
	margin:0 auto;
	text-align:center;
	@include font-size(12px);
  }
}



#tertiery-nav {
  position:absolute;
  right:2.5%;
  top:0.5em;
  z-index:50;
  
  ul {
	margin:0;
	padding:0;
  }
  a {
	color:rgba(255,255,255, 0.5);
	text-transform:uppercase;
	@include font-size(12px);
	font-family: $c0re__font-medium;
	
	&:hover {
	  color:rgba(255,255,255,1);
	  
	}
  }
}




// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}





