{{ with .Site.GetPage "section" "black-hole" }}
<div class="c0re__list mode-grid col-5_xs-12_sm-12_md-12">
      <div class="section-filters">
        
        <i class="material-icons more tooltipped" data-position="left" data-delay="50" data-tooltip="Just like coffee, you can FILTER IT.">more_vert</i>
        <div class="filterUpdateMessage"><i class="material-icons">chevron_left</i> Results Updated</div>
          <form class="controls" id="theFilters">
            <div class="available-filters">
              <div class="filter-wrap">
                <div class="closeThisThang filters-close"></div>
                  <p class="heading">So Whatcha, Whatcha, Whatcha Want?</p>
                  <h4 class="filter-heading">First I Do The Coffee, Then I Do These Things!</h4>
                  <p>You can also search by keyword at the top of the page. Perhaps enter a client name or something random.</p>
                    <fieldset class="filter-group checkboxes">
                      
                      
                      <div class="checkbox">
                        <input type="checkbox" id="r_music" value=".role_music"/>
                        <label for="r_music">Music (Composition, Sync, Editing)</label>
                      </div>                      
                      <div class="checkbox">
                        <input type="checkbox" id="r_design" value=".role_design" />
                        <label for="r_design">Design</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="r_sound-design" value=".role_sound-design"/>
                        <label for="r_sound-design">Sound Design</label>
                      </div>                      
                      <div class="checkbox">
                        <input type="checkbox" id="r_back-end-dev" value=".role_back-end-dev"/>
                        <label for="r_back-end-dev">Back-End Dev</label>
                      </div>                      
                      <div class="checkbox">
                        <input type="checkbox" id="r_front-end-dev" value=".role_front-end-dev"/>
                        <label for="r_front-end-dev">Front-End Dev</label>
                      </div>                      
                      <div class="checkbox">
                        <input type="checkbox" id="r_management" value=".role_management"/>
                        <label for="r_management">Management</label>
                      </div>   
                      <div class="checkbox">
                        <input type="checkbox" id="r_ideation" value=".role_ideation" />
                        <label for="r_ideation">Ideation (Storyboards, Architecture, ...)</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="r_sales" value=".role_bizdev"/>
                        <label for="r_sales">Business Development (Sales)</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="r_ux" value=".role_ux"/>
                        <label for="r_ux">UX</label>
                      </div>                      
                      <div class="checkbox">
                        <input type="checkbox" id="r_animation" value=".role_animation"/>
                        <label for="r_animation">Animation</label>
                      </div>                                 
                      <div class="checkbox">
                        <input type="checkbox" id="r_directing" value=".role_directing"/>
                        <label for="r_directing">Directing</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="r_acting" value=".role_acting"/>
                        <label for="r_acting">Acting</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="r_copywriting" value=".role_copywriting"/>
                        <label for="r_copywriting">Copywriting</label>
                      </div>                                                                  
                      <div class="checkbox">
                        <input type="checkbox" id="r_other" value=".role_other" />
                        <label for="r_other">Other</label>
                      </div>
                      
                    </fieldset>
                    
                    
                    
                    
                    <button id="resetFilters">Clear Filters</button>
                    <button class="filters-close">I'm Done. Let's See Em</button>
                  </div>
              </div>
              
              <fieldset class="filter-group search" id="textSearch">
                
                  <input type="text" id="searchInput" placeholder="Search"/>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>                
                
              </fieldset>
          
          </form>          
        
      </div>
      <div class="c0re__inner">
        <div class="c0re__list-wrapper">
          <ul id="category-switcher" class="tabs">
            <li class="tab col s3"><a class="active" href="#" rel="web"><div class="current_count web"></div>WEB</a></li>
            <li class="tab col s3"><a href="#" rel="film-tv"><div class="current_count film-tv"></div>FILM-TV</a></li>
            <li class="tab col s3"><a href="#" rel="games"><div class="current_count games"></div>GAMES</a></li>
            <li class="tab col s3"><a href="#" rel="other"><div class="current_count other"></div>OTHER</a></li>
          </ul>
                  
          <div id="resultsWrapper">
                
                <div id="list-web" class="mixContainer active">
                  <h6 class="credit-heading featured-heading"> FEATURED CREDITS (Web)</h6>                  
                  <ul class="featured-wrapper grid-4_xs-2_sm-3_md-2_lg-2_xl-3-noGutter-equalHeight">
                    {{ $section := (slice "web") }}
                    {{ $page := (where (where (where .Site.Pages.ByWeight "Section" "black-hole") ".Params.featured" true) ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaThumb">{{if .Params.Thumbnail }}<img src="{{ .Site.Params.mediaurl }}interface-assets/images/optimized/blank.gif" data-src="{{.Params.Thumbnail}}" class="b-lazy">{{ end }}
                              <div class="metaOverlay"><div class="cta"><i class="material-icons">info_outline</i></div></div>
                              
                            </div>
                            <div class="metaData">                              
                              <div class="itemTitle truncate">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle hidden">Client:</span> <span class="metaClients hidden truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle hidden">Agency:</span> <span class="metaAgency hidden truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}                               
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                  <h6 class="credit-heading"> CREDITS A-Z (Web)</h6>
                  <ul class="credits-a-z grid-1-noGutter-equalHeight">
                    {{ $section := (slice "web") }}
                    {{ $page := (where (where .Site.Pages.ByTitle "Section" "black-hole") ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">                          
                            <div class="metaData">                              
                              <div class="itemTitle">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaTitle">Role:</span> <span class="metaRoles">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle">Client:</span> <span class="metaClients truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle">Agency:</span> <span class="metaAgency truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
                
                <div id="list-film-tv" class="mixContainer">      
                  <h6 class="credit-heading featured-heading"> FEATURED CREDITS (Film & Television)</h6>            
                  <ul class="featured-wrapper grid-4_xs-2_sm-3_md-2_lg-2_xl-3-noGutter-equalHeight">
                    {{ $section := (slice "film-tv") }}
                    {{ $page := (where (where (where .Site.Pages.ByWeight "Section" "black-hole") ".Params.featured" true) ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaThumb">{{if .Params.Thumbnail }}<img src="{{ .Site.Params.mediaurl }}interface-assets/images/optimized/blank.gif" data-src="{{.Params.Thumbnail}}" class="b-lazy">{{ end }}
                              <div class="metaOverlay"><div class="cta"><i class="material-icons">info_outline</i></div></div>
                              
                            </div>
                            <div class="metaData">                              
                              <div class="itemTitle truncate">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle hidden">Client:</span> <span class="metaClients hidden truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle hidden">Agency:</span> <span class="metaAgency hidden truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}                               
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                  <h6 class="credit-heading"> CREDITS A-Z (Film & Television)</h6>
                  <ul class="credits-a-z grid-1-noGutter-equalHeight">
                    {{ $section := (slice "film-tv") }}
                    {{ $page := (where (where .Site.Pages.ByTitle "Section" "black-hole") ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaData">                              
                              <div class="itemTitle">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaTitle">Role:</span> <span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle">Client:</span> <span class="metaClients truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle">Agency:</span> <span class="metaAgency truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
                
                <div id="list-games" class="mixContainer">     
                  <h6 class="credit-heading featured-heading"> FEATURED CREDITS (Games)</h6>             
                  <ul class="featured-wrapper grid-4_xs-2_sm-3_md-2_lg-2_xl-3-noGutter-equalHeight">
                    {{ $section := (slice "games") }}
                    {{ $page := (where (where (where .Site.Pages.ByWeight "Section" "black-hole") ".Params.featured" true) ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaThumb">{{if .Params.Thumbnail }}<img src="{{ .Site.Params.mediaurl }}interface-assets/images/optimized/blank.gif" data-src="{{.Params.Thumbnail}}" class="b-lazy">{{ end }}
                              <div class="metaOverlay"><div class="cta"><i class="material-icons">info_outline</i></div></div>
                              
                            </div>
                            <div class="metaData">                              
                              <div class="itemTitle truncate">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle hidden">Client:</span> <span class="metaClients hidden truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle hidden">Agency:</span> <span class="metaAgency hidden truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}                               
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                  <h6 class="credit-heading"> CREDITS A-Z (Games)</h6>
                  <ul class="credits-a-z grid-1-noGutter-equalHeight">
                    {{ $section := (slice "games") }}
                    {{ $page := (where (where .Site.Pages.ByTitle "Section" "black-hole") ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaData">                              
                              <div class="itemTitle">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaTitle">Role:</span> <span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle">Client:</span> <span class="metaClients truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle">Agency:</span> <span class="metaAgency truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
                
                <div id="list-other" class="mixContainer">      
                  <h6 class="credit-heading featured-heading"> FEATURED CREDITS (Other)</h6>            
                  <ul class="featured-wrapper grid-4_xs-2_sm-3_md-2_lg-2_xl-3-noGutter-equalHeight">
                    {{ $section := (slice "other") }}
                    {{ $page := (where (where (where .Site.Pages.ByWeight "Section" "black-hole") ".Params.featured" true) ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaThumb">{{if .Params.Thumbnail }}<img src="{{ .Site.Params.mediaurl }}interface-assets/images/optimized/blank.gif" data-src="{{.Params.Thumbnail}}" class="b-lazy">{{ end }}
                              <div class="metaOverlay"><div class="cta"><i class="material-icons">info_outline</i></div></div>
                              
                            </div>
                            <div class="metaData">                              
                              <div class="itemTitle truncate">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle hidden">Client:</span> <span class="metaClients hidden truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle hidden">Agency:</span> <span class="metaAgency hidden truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}                               
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                  <h6 class="credit-heading"> CREDITS A-Z (Other)</h6>
                  <ul class="credits-a-z grid-1-noGutter-equalHeight">
                    {{ $section := (slice "other") }}
                    {{ $page := (where (where .Site.Pages.ByTitle "Section" "black-hole") ".Params.section" "intersect" $section ) }}                    
                    {{ range $page }}                      
                      <li class="c0re__list-item mix col {{with .Params.roles}}{{ range  .}} role_{{ . | urlize }}{{ end }}{{ end }} {{with .Params.types}}{{ range  .}} type_{{ . | urlize }}{{ end }}{{ end }}" data-project="{{ .Params.project_id }}">
                          <a href="{{.Permalink}}" class="grid-noGutter">
                            <div class="metaData">                              
                              <div class="itemTitle">{{.Title}}</div>
                              <ul>                                
                                <li>{{if .Params.roles }}<span class="metaTitle">Role:</span> <span class="metaRoles truncate">{{ delimit .Params.roles ", " }}</span>{{ end }}</li>
                                {{if .Params.clients }}<li><span class="metaTitle">Client:</span> <span class="metaClients truncate">{{ delimit .Params.clients ", " }}</span></li>{{ end }}
                                {{if .Params.agency }}<li><span class="metaTitle">Agency:</span> <span class="metaAgency truncate">{{ delimit .Params.agency ", " }}</span></li>{{ end }}
                                {{if .Params.tags }}<li><span class="metaTags hidden truncate">{{ delimit .Params.tags ", " }}</span></li>{{ end }}
                              </ul>
                            </div>
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
{{ end }}