<ul id="category-switcher" class="tabs">
    <li class="tab col s3" data-ui-page="featured"><a href="#" class="active" rel="featured">
            <div class="featured"></div>FEATURED
        </a></li>
    <li class="tab col s3" data-ui-page="albums"><a href="#" rel="albums">
            <div class="albums"></div>ALBUMS
        </a></li>
    <li class="tab col s3" data-ui-page="singles"><a href="#" rel="singles">
            <div class="singles"></div>SINGLES
        </a></li>
    <!-- <li class="tab col s3" data-ui-page="albums"><a href="#" rel="tracks"><div class="tracks"></div>TRACKS</a></li> -->
    <!-- <li class="tab col s3" data-ui-page="playlists"><a href="#" rel="playlists"><div class="playlists"></div>PLAYLISTS</a></li>     -->
</ul>
<div id="ear-worms">

    <div id="featured" class="audioSection active">
        <iframe id="disco-playlist-25794135" name="disco-playlist-25794135" allowfullscreen frameborder="0"
            class="disco-embed"
            src="https://audiocatharsis.disco.ac/e/p/25794135?download=false&s=ZhP6DjaXu2dlaYRguE_fDQjCsGo%3A5dJH0cSS&artwork=true&color=%2332B57C&theme=white"></iframe>
    </div>

    <div id="albums" class="audioSection">
        <!-- <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle"></div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    
                </div>
            </div>
        </div> -->
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Paradox of Possession</div>
                <div class="albumDescription">
                    <p>Songs about unrequited love, love lost, love found, lost again, etc.</p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25798257" name="disco-playlist-25798257" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25798257?download=false&s=5v0TJ0f3M7c4yBXMiiwtdRVKqcc%3AftOX0K5T&artwork=true&color=%2332B57C&theme=white" width="480" height="1000"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Phantom Warrior</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25797212" name="disco-playlist-25797212" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25797212?download=false&s=Xod4fLGmh7ScYm4GwDmQfk2l-bY%3AWeLLSUMo&artwork=true&color=%2332B57C&theme=white" width="480" height="1400"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle"></div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle"></div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle"></div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    
                </div>
            </div>
        </div>              
        <div class="albumWrapper">
            <!-- <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/electro-oddities.jpg">
            </div> -->
            <div class="albumMeta">
                <div class="albumTitle">Electro Oddities</div>
                <div class="albumDescription">
                    <p>A collection of instrumental music I wrote in the early 2000s.</p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25794581" name="disco-playlist-25794581" allowfullscreen frameborder="0"
                        class="disco-embed"
                        src="https://audiocatharsis.disco.ac/e/p/25794581?download=false&s=rsaPRtuP2b2e_I0lAIo0UhC034c%3A1MIbbsPb&artwork=true&color=%2332B57C&theme=white"
                        width="480" height="600"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Morning Modulation</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25795367" name="disco-playlist-25795367" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25795367?download=false&s=CULRfDgZmIMkvrITcHrEAr_fjzw%3AQ90JDaXg&artwork=true&color=%2332B57C&theme=white" width="480" height="395"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Do Not Listen To This (Volume 13)</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25796919" name="disco-playlist-25796919" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25796919?download=false&s=R-v9OkdQYmBDnJdp2NE5ONrvV9Q%3AjWcaxxG6&artwork=true&color=%2332B57C&theme=white" width="480" height="395"></iframe>
                </div>
            </div>
        </div>  
    </div>


    <div id="tracks" class="audioSection">

    </div>

    <div id="singles" class="audioSection">
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Hope Is The Enemy</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25797662" name="disco-playlist-25797662" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25797662?download=false&s=xqUjZBlEjnWqZkcVIBu9ny3Jk1Y%3ACAmx4rir&artwork=true&color=%2332B57C&theme=white" width="480" height="395"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Echoes of Repression</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25805935" name="disco-playlist-25805935" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25805935?download=false&s=3_aaXsPVNhDfdqeCjLxYGOa-aFE%3AZGMnpLGw&artwork=true&color=%2332B57C&theme=white" width="480" height="500"></iframe>
                </div>
            </div>
        </div>     
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">One Of The Crazies</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25795805" name="disco-playlist-25795805" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25795805?download=true&s=DnHfABfFLOqaLnQIjgloVtziQzs%3AyVU3vJZn&artwork=true&color=%2332B57C&theme=white" width="480" height="395"></iframe>
                </div>
            </div>
        </div>          
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">Nothing And Everything At The Same Time</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25794040" name="disco-playlist-25794040" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25794040?download=false&s=ZR4Gq1v4l__z4OpVgoXDdmM-iNk%3ATjohtl5O&artwork=true&color=%2332B57C&theme=white" width="480" height="395"></iframe>
                </div>
            </div>
        </div>  
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle">She Was All She Wanted</div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    <iframe id="disco-playlist-25793744" name="disco-playlist-25793744" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25793744?download=true&s=c57VxpnD73PjmEqgsuH3mDd4srI%3A4xTmGyHZ&artwork=true&color=%2332B57C&theme=white" width="480" height="500"></iframe>
                </div>
            </div>
        </div>  
        <div class="albumWrapper">
            <div class="albumMeta">
                <div class="albumTitle"></div>
                <div class="albumDescription">
                    <p></p>
                </div>
                <div class="albumPlaylist">
                    
                </div>
            </div>
        </div>  

    </div>

    <div id="playlists" class="audioSection">

    </div>


</div>