<ul id="category-switcher" class="tabs">    
    <li class="tab col s3" data-ui-page="featured"><a href="#" class="active" rel="featured"><div class="featured"></div>FEATURED</a></li>
    <li class="tab col s3" data-ui-page="albums"><a href="#" rel="albums"><div class="albums"></div>ALBUMS</a></li>
    <li class="tab col s3" data-ui-page="singles"><a href="#" rel="singles"><div class="singles"></div>SINGLES</a></li>
    <!-- <li class="tab col s3" data-ui-page="albums"><a href="#" rel="tracks"><div class="tracks"></div>TRACKS</a></li> -->
    <li class="tab col s3" data-ui-page="playlists"><a href="#" rel="playlists"><div class="playlists"></div>PLAYLISTS</a></li>    
</ul> 
<div id="ear-worms">

    <div id="featured" class="audioSection active">
        <iframe id="disco-playlist-25794135" name="disco-playlist-25794135" allowfullscreen frameborder="0" class="disco-embed" src="https://audiocatharsis.disco.ac/e/p/25794135?download=false&s=ZhP6DjaXu2dlaYRguE_fDQjCsGo%3A5dJH0cSS&artwork=true&color=%2332B57C&theme=white"></iframe>
    </div>

    <div id="albums" class="audioSection">
       
    </div>

    <div id="tracks" class="audioSection">
        
    </div>

    <div id="singles" class="audioSection">
        
    </div>

    <div id="playlists" class="audioSection">
       
    </div>

    
</div>