<ul id="category-switcher" class="tabs">    
    <li class="tab col s3" data-ui-page="albums"><a href="#" class="active" rel="albums"><div class="albums"></div>ALBUMS</a></li>
    <li class="tab col s3" data-ui-page="singles"><a href="#" rel="singles"><div class="singles"></div>SINGLES</a></li>
    <!-- <li class="tab col s3" data-ui-page="albums"><a href="#" rel="tracks"><div class="tracks"></div>TRACKS</a></li> -->
    <li class="tab col s3" data-ui-page="playlists"><a href="#" rel="playlists"><div class="playlists"></div>PLAYLISTS</a></li>
    <!-- <li class="tab col s3" data-ui-page="liked"><a href="#"><div class="favorites"></div>FAVORITES</a></li>     -->
</ul> 
<div id="ear-worms">

    
    <div id="albums" class="audioSection active">
        <div class="albumWrapper" style="background:#ffffff;">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/Cognitive-Dissonance.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle dark">Cognitive Dissonance</div>
                <div class="albumDescription dark">
                    <p class="dark">This album is dark, suspenseful, and thematic.</p>
                    <p class=""></p>
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/1iLMggSKRYEYFliTWdX3li?utm_source=generator" width="100%" height="610" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper" style="background:#ab1f1e;">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/groove-theory.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Groove Theory</div>
                <div class="albumDescription">
                    <p class="">This album is full of attitude, groove, and melody. It includes a handful of previously released singles. The album is completely instrumental.</p>
                    <p class=""></p>
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/4dVmxprtdPqZhiwUsksK0I?utm_source=generator" width="100%" height="550" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper bgWhite">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/insomnia.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle dark">Insomnia</div>
                <div class="albumDescription dark">
                    <p class="dark">The Insomnia album is an ambient instrumental journey I made whilst struggling with insomnia. It is a mixture of electronic and orchestral elements, primarily transient and ambient. Enjoy.</p>
                    <p class="dark"></p>
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/7EptZeMpAuYQ9JxFb3PdJS?utm_source=generator" width="100%" height="620" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
            <div class="albumWrapper bgWhite">
                <div class="albumArt">
                    <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/together-alone-in-the-metaverse.jpg">
                </div>
                <div class="albumMeta">
                    <div class="albumTitle dark">Together Alone In The Metaverse</div>
                    <div class="albumDescription dark">
                        <p class="dark">Escape into your mind and drift through the Metaverse with this album as the soundtrack for your journey. Full of melodic surprises and expansive moments, this album provides memorable catharsis and ear candy. You will listen to this album over and over. There is a duality of tone to the melodies and energy on the record, embracing the evolution and necessity of blockchain technology with the same range of emotions a military force has the night before a conflict.</p>
                        <p class="dark">In terms of authentic artistic expression, this album demonstrates the style of writing and production I do most naturally if left to make my own decisions.</p>
                        
                    </div>
                    <div class="albumPlaylist">
                        <iframe src="https://open.spotify.com/embed/album/0qVsZypRArz4szfLO8Xtk7?utm_source=generator" width="100%" height="740" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>
                </div>
            </div>


            <div class="albumWrapper bgBlack">
                <div class="albumArt">
                    <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/capitol-insurrection.jpg">
                </div>
                <div class="albumMeta">
                    <div class="albumTitle">Capitol Insurrection</div>
                    <div class="albumDescription">
                        
                    </div>
                    <div class="albumPlaylist">
                        <iframe src="https://open.spotify.com/embed/album/0NYQEs5MbWnpGTq5DAiads?utm_source=generator" width="100%" height="580" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>
                </div>
            </div>


            <div class="albumWrapper lgoofwya">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/life-goes-out-of-focus-when-youre-around.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Life Goes Out Of Focus When You're Around</div>
                    <div class="albumDescription">
                        <p>For this album, I just hit record and improvised on piano for about 45 minutes. I paused where it felt appropriate for track breaks and just played what I was feeling, with the assistance of a bottle of pinot noir. I then went back through and embellished where it made sense with orchestration and some synths to give it more texture and thread a mood throughout it. So the whole album is in one Logic session and is meant to be minimal and not over-produced. It is predominantly a solo piano record. The result is very listenable and mellow.</p>

                        <p>The album is available wherever you stream music and is available for sync.</p>
                    </div>
                    <div class="albumPlaylist">
                        <iframe src="https://open.spotify.com/embed/album/716dpbCZLPKBYm4V1fvNa6" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>
                </div>
            </div>

            <div class="albumWrapper bgWhite">
                <div class="albumArt">
                    <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/dnltt-album-art.jpg">
                </div>
                <div class="albumMeta">
                    <div class="albumTitle dark">Do Not Listen To This (volume 13)</div>
                    <div class="albumDescription dark">
                        <p class="dark">With the exception of 2 tracks, I wrote all this material 17-20 years ago. This album is largely electronic and suitable for background music in commercials, promos, film, and TV.</p>                        
                        
                    </div>
                    <div class="albumPlaylist">
                        <iframe src="https://open.spotify.com/embed/album/6UAl16vC5nlHRyWYbr7lyq?utm_source=generator" width="100%" height="740" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                        
                    </div>
                </div>
            </div>
            
            
            <div class="albumWrapper adca">
                <div class="albumArt">
                    <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/a-dramatic-christmas-adventure.jpg">
                </div>
                <div class="albumMeta">
                    <div class="albumTitle">A Dramatic Christmas Adventure</div>
                    <div class="albumDescription">
                        <p>This is a "Christmas Album" in the vein of scores like "Home Alone" and "Harry Potter". It veers more dramatic, as the title suggests, but it is full of delightful melodic surprises and playful orchestration.
                    </div>
                    <div class="albumPlaylist">
                        <iframe src="https://open.spotify.com/embed/album/5F05QqzqartxbmbCxVtBEN?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>
                </div>
            </div>

            <div class="albumWrapper eo">
                <div class="albumArt">
                    <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/electro-oddities.jpg">
                </div>
                <div class="albumMeta">
                    <div class="albumTitle">Electro Oddities</div>
                    <div class="albumDescription">
                        <p>This album comprises tracks I wrote from 2001 to 2005.</p>
                    </div>
                    <div class="albumPlaylist">
                        <iframe src="https://open.spotify.com/embed/album/1hHzzYd8attP4NRpuxTM3t?utm_source=generator" width="100%" height="850" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>
                </div>
            </div>


            <div class="albumWrapper">
                <div class="albumArt">
                    <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/urban-drama.png">
                </div>
                <div class="albumMeta">
                    <div class="albumTitle">Urban Drama</div>
                    <div class="albumDescription">
                        <p>I was commissioned to write some hybrid film score by Sonoton, one of the largest music libraries in the world, back in 2007. The result was a collection of tracks that have been licensed consistently for the last 15+ years.</p>
                    </div>
                    <div class="albumPlaylist">
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4ZAy2UrU5grpSVNuTv8hjG?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/44po9aiVvtafPe4w1NJPrf?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6YpsdqFSoVLbsfHmOJpubE?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6YhOMTZPkHgoxvGYzLRuBc?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4D1wP24O0ro0tLscjBCoFR?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3w65yWqkYCyuBENqP9kBVn?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7AVHZvDthsnHHs4GHT3qpL?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0OcPifTzJNdnxEQb7D4L0Q?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

                    </div>
                </div>
            </div>
    </div>

    


    <div id="tracks" class="audioSection">
        
    </div>

    

    <div id="singles" class="audioSection">
        

        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/ydlmlily.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">You Don't Like Me Like I Like You</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/35tjwFqbo4sLePZp8BKCRK?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                  
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/mof.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">My Obsessive Fantasy</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/7DYxneO4HRgTBB8Pti7ko3?utm_source=generator" width="100%" height="160" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                    
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/MEISTY.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">My Edge Is Straigher Than Yours</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/5D49lmTZRiiAHIegD5snHW?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                    
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/itonlymatterswhatitlookslike.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">It Only Matters What It Looks Like</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/track/7do6aFRSyq3iK2gYdcke8w?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                    
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/energizer.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Energizer</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/track/11DevSrRCkP4hmrdJs2U3S?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/quarantine.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Quarantine</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/59L1kDomN3sY8ItivKQrdd?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/together-in-isolation.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Together In Isolation</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/4Mgeh2ce1h2pEtBkY1MzFv?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/one-day-after-the-other.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">One Day After The Other</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/09c4K9SJfJXBNejOQKBb23?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/one-funky-drink.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">One Funky Drink</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/0636bWGDHkFLUV4gCTVoaE?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/numbers-dont-lie-but-people-do.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Numbers Don't Lie But People Do</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/74EgFjP75ENx9b5SoYoIuu?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/manifesting-a-vision.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Manifesting A Vision</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/track/5HCaLcBtVC4DjQjntCcWQi?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/life-on-the-surface.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Life On The Surface</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/50uheN4clTOPCH64YZX6Z9?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/cyclical.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Cyclical</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/48ArW9cIrTeC6upf89u1bq?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/as-the-death-toll-grows.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">As The Death Toll Grows</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/4Nu6qxBKDDWbJsBzvHh0nj?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/storm-chaser.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Storm Chaser</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/57xuY4Pc08UaI4QXmm48IA?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/always-trying-to-pull-straight-a-tangled-line.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Always Trying To Pull Straight A Tangled Line</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/2LkEhOrV6IUTFW4HdRB4ak?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/you-consume-me.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">You Consume Me</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/2rSRStNsSpGgbm9o63HLC9?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        
       
        

        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/when-we-leave.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">When We Leave</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/04Iq4SFpjoGxucEDgfgXBx?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/one-of-the-crazies.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">One Of The Crazies</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/7pwYBjnL4uO5a2EV1c5CtA?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/albums/morning-modulation.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Morning Modulation</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/album/6NboOe7vY6pPzYmoHsKhdp?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
    </div>



    <div id="playlists" class="audioSection">
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/playlists/a-few-of-my-favorite-things.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">A Few Of My Favorite Things</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/playlist/1haEQzgQ83leX0j61aHv7N?utm_source=generator" width="100%" height="1250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/playlists/sad-piano-music.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Sad Piano Music</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/playlist/65QatOiOBCgcPqH8ViJnMq?utm_source=generator" width="100%" height="580" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/playlists/trailer-music.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Trailer Music</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/playlist/6HdwZRLuRKWm81053uTXMy?utm_source=generator" width="100%" height="1000" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="albumWrapper">
            <div class="albumArt">
                <img src="https://es-main.s3-us-west-1.amazonaws.com/ear-worms/playlists/melodic-gems.jpg">
            </div>
            <div class="albumMeta">
                <div class="albumTitle">Melodic Gems</div>
                <div class="albumDescription">
                    
                </div>
                <div class="albumPlaylist">
                    <iframe src="https://open.spotify.com/embed/playlist/0N1YDBewa6pucaaGs1kmhb?utm_source=generator" width="100%" height="580" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        
    </div>


 
    
    
</div>