<section id="overview">
    <div class="text-insert grid-center-middle">
      <div class="col-6_xs-11_sm-10_md-9_lg-8">
        <div class="preheading">They call me 'E'</div>
        <h2 class="heading">Elijah J. Shepard</h2>
        <div class="paragraph-content grid-2_xs-1_sm-1-spaceBetween">
          <p class="col description">Life is in a constant state of creation and so am I. I am a living machine, passionate about design, music, film, and digital media. Since art and inspiration is not constrained by a single medium, neither am I. I work and play as a <strong>freelance designer</strong>, <strong>front-end developer</strong>, and <strong>music composer</strong>.</p>
          <p class="col description">In short, I like coming up with ideas and am terminally curious. As a result, I have been blessed with a diverse and prolific professional journey. It has been an interesting ride, to be sure. I am currently available for work. Hit me up and let's do something together!</p>
        </div>
      </div>
    </div>
</section>
